.document-card {
  width: 200px;
  height: 250px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  float: left;
  box-sizing: border-box;
  transition: box-shadow 0.2s ease-in-out;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  word-wrap: break-word;
  }
.content{
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.document-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}
  
.document-info h3 {
  margin: 0;
  color: #333;
}
  
button {
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}


.icon-button {
  background: none;
  
  border: none;
  cursor: pointer;
  padding: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #000; /* Or any color you prefer */
  float: left;
  cursor: pointer;
}

.icon-button:hover {
  background-color: #f9f9f9;
  color: #8ee2ce; /* Change for hover effect */
}
.textButton{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
