/* Profile */

.profile {
  font-family: "Arial", sans-serif;
  background: #fff;
  color: #333;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-profile h1 {
  font-size: 2em;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.user-info-section {
  display: flex;
  margin-bottom: 20px;
}

/* User info */

.label {
  font-weight: bold;
}

.value {
  display: block;
  margin-bottom: 10px;
}